@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');
//Font
$helvetica: 'HelveticaNeueW01-77BdCn 692722', 'HelveticaNeueW01-77BdCn_692722', Arial, Helvetica, sans-serif;
$roboto: 'Roboto', sans-serif;

//Colors
$black: #1b1b1b;
$blue: #0188EA;
$grey: #949494;
$employee-shadow: #fdfdfd;
$light-grey: #e9e9e9;
$dark-grey: #c2c2c2;
$white-grey: #f8f8f8;
$white: #ffffff;